body {
    background-image: url("../images/hex.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
}

.container {
    background-color: #ffffff;
}

.wrap {
    margin-top: 30px;
    /* margin-bottom: 30px; */
    width: 960px;
    padding-bottom: 10px;
    border: 1px solid #dddddd;
}

.navy {
    width: 960px;
    min-width: 550px;
}

.navbar-brand {
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: x-large;
    font-weight: bold;
    padding: 14px 14px 10px 14px;
    margin: -10px -15px -8px -15px;
    width: 220px;
    text-align: center;
}

.navbar {
    border-bottom: 2px solid #cccccc;
    background-color: #ffffff;
}

.navbar-light .navbar-brand {
    color: #ffffff;
   
}
.navbar-light .navbar-brand:hover {
    color:#ccb444
}

.navbar-collapse {
    flex-grow: unset;
    margin-right: -15px;
    padding-top: 10px; 
}

#indy.navbar-collapse.collapse.show {
    border-right: none;
}
.page-header {
    padding-top: 20px;
    /* width: 960px; */
}

.banner, .head {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.head {
    color: #4aaaa5;
    font-weight: bold;
    padding: 0px 10px 15px 10px;
    border-bottom: 2px solid #cccccc;
}

p, form, footer {
    color: #777777;
    font-size: small;
    line-height: 1.75;  
}

.cont {
    padding-left: 20px;
    padding-right: 20px;
}

label {
    font-size: large;
    
}
/* header {
    background-color: #ffffff;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 65px;
    border-bottom: 2px solid #cccccc; */
}

.navbar {
    width: 100%;
    height: 65px;   
}

#nametag:hover {
    color:#ccb444;    
} 

#indy {
    border-right: 2px solid #cccccc;
}

#conty {
    border-right: none;
}

.nav-link {
    padding: 0rem;
}
.navbar-nav .nav-link{
    border-right: 2px solid #cccccc;
    text-decoration: none;
    color: #777777;
}

.me {
    color: #4aaaa5; 
    border-bottom: 2px solid #cccccc; 
    padding-bottom: 20px;  
    margin-bottom: 25px;
 }

#indy, #conty, #porty {
    text-decoration: none;
    color: #777777;
    text-align: center;
}

#indy:hover {
    color: #ccb444; 
}

#conty:hover {
    color: #ccb444; 
}

#porty:hover {
    color: #ccb444; 
}

.about {
    background-color: white;
    width: 960px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #777777;
}

a:hover {
    color: #ccb444; 
}

#navvy {
    color: #777777;
}

footer {
    background-color: #666666;
    padding-top: 30px;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    /* margin: 0 auto; */
    left: 0px;
    right: -10px;
    /* padding-right: 18px; */
    min-width:555px;
}

.navbar-expand-xs {
    min-width: 555px;
}
/* .port {
    background-color: #ffffff;
    width: 920px;
    margin: 0 auto;
    color:#4aaaa5;
    padding: 10px 20px 10px 20px;
    border-bottom: 5px solid #cccccc;
} */

.box-set {
    width: 100%;
    /* background-color: #ffffff; */
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.box {
    height: 250px;
    width: 300px;
    /* background-repeat: no-repeat; */
    background-size: cover;
    margin: 10px;
}

.box-1 {
    background-image: url("../images/proj1.png");
 
 }
  
.box-2 {
    background-image: url("../images/proj2.png");

}
  
.box-3 {
    background-image: url("../images/proj3.png");

}
  
.box-4 {
    background-image: url("../images/proj4.png");
}

.box-5 {
    background-image: url("../images/proj5.png");

}

#face {
    float: left;
    margin: 0px 20px 0px 0px;
}

/* .wrapper {
    background-color: #ffffff;
    width: 920px;
    margin: 0 auto;
    color:#4aaaa5;
    padding: 10px 20px 10px 20px;
    border: 1px solid #dddddd;
    margin-top: 90px;
} */

.bio {
    padding: 10px 0px 0px 0px;
}

#contact-me {
    padding-top: 10px;
}

.form-group {
    width: 100%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    /* flex-flow: column; */

}

.inputs {
    margin-bottom: 10px;
}
textarea {
    overflow: auto;
}

#submit {
    color: #ffffff;
    background-color: #4aaaa5;
    border: none;
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
}

#submit:hover {
    color: #ccb444;
    border: 3px solid #ccb444;    
}

.banner {
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    position: relative;
    bottom: -180px;
    padding: 15px 0px 15px 0px;
    /* width: auto; */
    font-size: large;
    /* font-weight: normal; */
}

.banner:hover {
    color: #ccb444;
    border: 3px solid #ccb444;
    font-weight: normal;
}

/* Bootstrap Sticky Footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 90px;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
      }

  .foot {
    background-color: #666666;
  }

  @media screen
and (max-width: 575px) {

    .wrap {
        max-width:555px;
        min-width:400px;  
    }

    .navy {
        max-width:555px;
        min-width:400px;
    }